.card-background-pc{
    background-color: #393B66;
}

.card-background-pc:hover{
    background-color: transparent;
    border: 1px solid #6D60F1;
}

.card-height{
    height: 30rem;
}

.button2{
    border: none;
    padding: 0.7rem 1.2rem;
    background-color: #D44B3C;
    color: white;
    border-radius: .1rem;
}

.button2:hover{
    background-color: transparent;
    border: 1px solid #6D60F1;
    color: white;
}