.contact-us-bg{
    background-color: #14152b;
    border-radius: 1rem;

}

.contact-text-field{
    background-color: #6D60F1;
    border-radius: 1rem;
}

.social-icon{
    background-color: #14152b;
    border-radius: 50%;
    padding: .5rem;
    margin-right: .5rem;
}

.text-field-form{
    background-color: transparent;
    border: 1px solid #6D60F1;
}